@functions
{
    /// <summary>
    /// 處理Bill List Table的TD
    ///
    ///</summary>
    ///<param name="color"></param>
    ///<param name="content"></param>
}
@helper DisplayRow(string color, string content)
{
        <td><span style="color:@color">@content</span></td>
}

